<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<!--服务端地址-->
		<add key="device_id" value="10182" />
		<add key="api_url" value="http://127.0.0.1:8080/selfv2api" />
		<add key="HeartFile" value="c:\\KLB_Heart.txt" />
		<add key="DeleteLogDay" value="7" />
		<add key="ShellRetryCount" value="3" />
		<add key="HISRetryCount" value="3" />
		<add key="MiddleRetryCount" value="3" />
		<add key="IsHisMonitor" value="false" />
		<add key="PollingTime" value="10000" />
	</appSettings>

	<log4net>
		<appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<file value="Logs\error\" />
			<encoding value="utf-8" />
			<preserveLogFileNameExtension value="true" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyy\\MM\\dd\\HH'.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<file value="Logs\info\" />
			<encoding value="utf-8" />
			<preserveLogFileNameExtension value="true" />
			<!--是否追加日志内容-->
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyy\\MM\\dd\\HH'.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="DEBUG" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<file value="Logs\debug\" />
			<encoding value="utf-8" />
			<preserveLogFileNameExtension value="true" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyy\\MM\\dd\\HH'.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="debugAppender" />
			<appender-ref ref="errorAppender" />
			<appender-ref ref="infoAppender" />
		</root>
		<logger name="MyLog" additivity="false">
			<level value="ALL" />
			<appender-ref ref="debugAppender" />
			<appender-ref ref="errorAppender" />
			<appender-ref ref="infoAppender" />
		</logger>
	</log4net>
	
</configuration>
